@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.data_content {
    @apply flex flex-col justify-center items-center
}

.data_title {
    @apply text-base md:text-xl font-semibold text-gray-50
}

.data_details {
    @apply text-base md:text-lg font-medium text-gray-50
}

.search-btn {
    @apply size-8 md:size-[50px] rounded-full bg-black flex justify-center items-center;
}

.search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-gray-200 w-full h-auto outline-none border rounded-full px-3 py-1 md:px-5 md:py-2 text-white backdrop-blur-sm
}
